---
---
<nav class="flex justify-between items-center py-6 border-b">
    <!-- On the left is my Home link -->
    <a href="/" class="text-xl font-bold tracking-tighter">Home</a>

    <!-- All my other pages are on the right side of nav -->
    <div class="flex gap-8 text-sm uppercase tracking-widest font-medium">
        <a href="/about-me" class="hover:text-blue-600 transition-colors">About Me</a>
        <a href="/projects" class="hover:text-blue-600 transition-colors">Projects</a>
    </div>
</nav>